$primary-color: #fff;
$text-color: #06044a;
$contrast-color: #fcba03;

@mixin easeOut {
	transition: all 0.25s ease;
}

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0;
		transform: translateY(25px); 
	} 
	100% { 
		opacity: 1;
		transform: translateY(0px); 
	} 
} 

@keyframes bounce {
	50% { 
		-webkit-transform:  translateY(-6px);
		-moz-transform:     translateY(-6px);
		-ms-transform:      translateY(-6px);
		-o-transform:       translateY(-6px);
		transform:          translateY(-6px);
	}
	100% { 
		-webkit-transform:  translateY(0px);
		-moz-transform:     translateY(0px);
		-ms-transform:      translateY(0px);
		-o-transform:       translateY(0px);
		transform:          translateY(0px);
	}
}

// Media Query Mixins
@mixin mediaSm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (min-width: 501px) and (max-width: 900px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 901px) and (max-width: 1170px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}