// Widescreens
@include mediaXl {
  // To be implemented
}

@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaMd {
  header {
    grid-template-columns: repeat(1, 1fr);
    .intro {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .icons {
      a {
        margin-right: 1vw;
      }
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #about {
    .skills-container {
      grid-template-columns: repeat(3, 1fr);
    }
    p {
      font-size: 20px;
    }
    .title {
      text-align: center;
    }
  }

  #contact {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0rem;
    text-align: center;

    p {
      font-size: 20px;
    }
  }
}

@include mediaSm {
  header {
    padding: 2rem 0rem 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    .intro {
      display: flex;
      justify-content: center;
    }
    .icons {
      display: none;
    }
    .nav {
      display: flex;
      justify-content: space-evenly;
      padding-right: 7vh;
    }
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  #about {
    .skills-container {
      grid-template-columns: repeat(3, 1fr);
    }
    p {
      font-size: 20px;
    }
    .title {
      text-align: center;
    }
  }

  #contact {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0rem;
    text-align: center;

    p {
      font-size: 20px;
    }
  }

  
}

